<div ng-init="init()" />

<p>
Artist: {{artist_info.artist}}
<a href="javascript:;" ng-click="add_artist(artist_info.id)"><span class="glyphicon glyphicon-plus-sign" /></a>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-1"></th>
      <th class="col-xs-5">Album</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="r in albums">
      <th><a href="javascript:;" ng-click="add_album(r.id)"><span class="glyphicon glyphicon-plus-sign" /></a></th>
      <td><a href="#/local/album/{{r.id}}">{{r.album}}</a></td>
    </tr>
  </tbody>
</table>
