<div ng-init="init()">

<p>Player: {{data.player_name}} @ {{data.player_ip}}</p>

<p>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-1"></th>
      <th class="col-xs-1">Number</th>
      <th class="col-xs-5">Track</th>
      <th class="col-xs-4">Album</th>
      <th class="col-xs-2">Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="($index==data.playlist_cur_index)?'success':''" ng-repeat="r in data.playlist_loop">
      <td><a href="javascript:;" ng-click="playlist_remove($index)"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
      <td>{{r.tracknum}}</td>
      <td><a href="#/local/track/{{r.id}}">{{r.title}}</a></td>
      <td><a href="#/local/album/{{r.album_id}}">{{r.album}}</a></td>
      <td><a href="#/local/artist/{{r.artist_id}}">{{r.artist}}</a></td>
    </tr>
  </tbody>
</table>

</div>
